

#navbarWrapper{
    background-color: $SecondBgroundCol;
    z-index: 999;
    
    .navbar-toggler:focus{
        outline: none;
    }
    .navheader{
        font-family: $FontFamHeading;
        color: $BackGroundCol;
        text-shadow: 2px 2px 4px #8b8b8b;
        @include media-breakpoint-between(xs,sm){
            font-size: 1.3rem;
        }
        @include media-breakpoint-between(md,lg){
            font-size: 2rem;
        }
    }
    .navbar-brand{
        transition: all .2s;
        &:hover{
            transform: scale(1.02);
        }
        @include media-breakpoint-between(xs,sm){
            @include smallHFont();
        }
        @include media-breakpoint-between(md,xl){
            @include bigHFont();
        }
    }
    #navbarDropdownMenuLink{
        transition: all .2s;
        height: 74px;
        background-color: $PrimaryFontCol;
        color: $blackColor;
        font-size: 20px;
        border: $border;
        border-radius: 10px;
        @include media-breakpoint-between(xs,md){
            height: auto;
            width: auto;
            margin-bottom: 8px;
            padding-left: 24px;
        }
        &:focus {
            outline:none !important}
        &:hover{
            transform: scale(1.02);
        }
    }
    #navbarNavDropdown > ul > li.nav-item.dropdown.pl-1.show > div{
        @include media-breakpoint-between(xs,md){ margin-bottom: 8px;}
    }
    #navbarNavDropdown{
        
        > ul > li > a {
            transition: all .2s;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 74px;
            width: 74px;
            background-color: $PrimaryFontCol;
            border-radius: 50%;
            border: $border;
            @include media-breakpoint-between(xs,md){
                height: auto;
                width: auto;
                border: none;
                background: none;
                border-radius: 10px;
                padding-left: 24px;
            }
            .icon{
                @include media-breakpoint-between(sm,xl){
                    display: flex;
                    fill: $blackColor;
                    align-self: center;
                    
                }
                @include media-breakpoint-between(xs,md){
                    display: none;
                }
            }
            .text{ 
                display: flex;
                @include media-breakpoint-between(lg,xl){
                    display: none;
                }
            }
            svg{
                fill:rgb(85, 85, 85);
                height: 35px;
                width: 35px;
            }
            &:hover{
                transform: scale(1.05);
            }
            
        } 
        .nav-item.dropdown{
            @include media-breakpoint-between(xs,md){
                padding: 8px 0 8px 0;
            } 
        }
    }
    .dropdown-toggle::after{display: none;}
    .dropdown-menu{
        border-radius: 10px;
    }
}